<nav class="navbar navbar-default navbar-fixed-top">
    <div class="header-nightsky">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a  class="navbar-brand" href="#/user/model.userId/home">Muse</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav navbar-right">


                        <li ng-if="model.logged == true"><a href="" ng-click="model.logout()" >Logout</a></li>
                        <li ng-if="model.logged == true" class="visible-xs" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="" ng-click="model.logout()" >Logout</a></li>

                            </ul>
                        </li>

                        <li ng-if="model.logged == false"><a href="#/signup"  >Sign Up</a></li>
                        <li ng-if="model.logged == false"><a href="#/login"  >Login</a></li>
                        <li ng-if="model.logged == false" class="visible-xs" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li ><a href="# /signup"  >Sign Up</a></li>
                                <li ><a href="#/login"  >Login</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav></div>
</nav>

<div class="container">
    <div class="container">
        <img id="artist-img" class="img-responsive" src="{{model.artist.images[0].url}}" ></img>
    </div>
    <div id="top-pad-1"class="container">

   <h1 style="font-weight: bold"> {{model.artistName}}</h1>
    </div>

    <div class="col-xs-12 col-lg-12" id="artist-info" class="container">
    {{model.artistInfo}}
    </div>
    <div class="container">
   <h2 style="font-weight: bold"> Albums</h2>
    <ol>
    <div class="container" id="top-pad-1" ng-repeat="album in model.albums.items">
        <div id="top-pad-1" class="container">

                <li class="list-inline" id="list-css">

                   <div class="col-xs-12 col-lg-4"> <img class="img-responsive" src="{{album.images[1].url}}"></img></div>
                    <div class="col-lg-6">
                   <p class="h1" id="album-name" class="col-xs-12 col-lg-8">
                       <a href=""  style="color:brown;text-decoration: none"  ng-click="model.getAlbumPage(album.id)"> {{album.name}}</a></p></div>
                </li>

                </li>

        </div>
</br>
        </br>
    </div>
    </ol>
        </div>

</div>